.project_detail {
    padding: 2em;
}

.project_detail h1,
.project_detail h2, 
.project_detail p {
    margin-bottom: 0.5em;
}

.project_detail h1 {
    background-color: #222;
    color: #FFBB33;
    padding: 0.4em;
}

.project_detail span {
    font-weight: bold;
}

.details_container,
.service_form_container {
    margin-top: 1.2em;
    border-bottom: 1px solid #7A7A7A;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.btn {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    border: none;
}

.btn:hover {
    color: #ffbb33;
}

.project_info {
    width: 100%;

}